.coverage*
.ipynb_checkpoints/
*.html
.ruff_cache/
.mypy_cache/
.pytest_cache/
/dist/

# Compiled Python bytecode
__pycache__/
*.py[cod]

# Log files
*.log

# JetBrains IDE
.idea/

# LaTex
*.aux
*.bbl
*.blg
*.dvi
*.out
*.spl
*.synctex.gz
